*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
}
body {
    box-sizing: border-box;
}
h2{
    font-size: 3rem;
}
P{
    font-size: 2rem;
}
